dash==0.21.1
dash-core-components==0.22.1
dash-html-components==0.10.1
dash_renderer==1.9.1
dash_bootstrap_components==0.13.0
dash_extensions==0.0.60
Flask==1.0.2
Markdown==3.0.1
plotly==3.6.1
seaborn==0.11.2
pdfminer==20191125
